streamlit==1.39.0
shap==0.46.0
pandas==2.2.3
xgboost==2.1.1
numpy==1.26.4
scikit-learn==1.5.2
pysqlite3-binary
streamlit-option-menu==0.3.2
protobuf==3.20.3  # Ensure compatibility with other dependencies
langchain  # Use a version compatible with langchain-community
langchain-community  # Compatible with langchain 0.2.17
chromadb==0.4.3  # Ensure compatibility with langchain
hnswlib==0.7.0
chroma-hnswlib==0.7.1
