streamlit==1.39.0
shap==0.46.0
pandas==2.2.3
xgboost==2.1.1
numpy==1.26.4
scikit-learn==1.5.2
pysqlite3-binary
streamlit-option-menu==0.3.2
protobuf==3.20.3
langchain-community==0.3.2  # Works with pydantic<2.0
chromadb==0.4.3  # Still requires pydantic<2.0
hnswlib==0.7.0
chroma-hnswlib==0.7.1
openai==0.27.2  # Ensure this works with pydantic<2.0
fastapi==0.95.2  # Still works with pydantic<2.0
