streamlit==1.39.0
shap==0.46.0
pandas==2.2.3
xgboost==2.1.1
numpy==1.26.4
scikit-learn==1.5.2
pysqlite3-binary
streamlit-option-menu==0.3.2
protobuf==3.20.3  # Ensure compatibility with older protobuf
langchain==0.0.116  # A version that works well with `langchain-community`
langchain-community==0.2.17  # Ensure compatibility with the chosen langchain version
chromadb==0.4.3  # No specific version here since ChromaDB evolves, but >=0.4.0 is preferred for stability
hnswlib==0.7.0
chroma-hnswlib==0.7.1
